[Unit]
Description=dxrfd XRF Reflector
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/dxrfd /usr/local/etc/dxrfd/dxrfd.cfg

[Install]
WantedBy=multi-user.target
